* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-align: center;
    margin: 40px 100px;
    justify-content: center;
    align-items: center;
    border-style: solid; 
    border-radius:5px;
    background-color: rgb(255, 255, 60);
}
.content {
    background-color: white;
    height: 660px;
    padding-top: 200px;
}
.content h2 {
    font-size: 50px;
}
button {
    height: 30px;
    box-shadow: 300px;
}
#Lable {
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    align-items: center;
    padding-top: 50px;
}